*{
    box-sizing: border-box;
}

body.dices{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #96bee0;
}

.dices .container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(0, 1.3fr) minmax(320px, 0.7fr);
    gap: 30px;
    width: 100%;
    align-items: start;
}

.dices .game, .dices .status{
    border-radius: 30px;
}

.dices .game{
    background-color: #fff;
    padding: 40px;
}

.dices .game-title{
    font-size: 50px;
    text-align: center;
}

.dices .game-description{
    margin: 16px 0 32px;
    font-size: 18px;
    color: #0f1f2c;
    line-height: 1.3;
    text-align: center;
}

.dices .dice-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.dices .dice-card{
    border-radius: 24px;
    background-color: #0f1f2c;
    color: #fff;
    padding: 24px;
    text-align: center;
}

.dices .dice-name{
    font-size: 16px;
    margin-bottom: 16px;
}

.dices .dice{
    font-size: 130px;
}

.dices .roll-button{
    width: 100%;
    margin-top: 24px;
    border: 0;
    border-radius: 20px;
    padding: 20px 24px;
    background-color: #0f1f2c;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.dices .status{
    border: 2px solid #fff;
    padding: 34px;
}

.dices .status-title{
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.dices .score-container{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.dices .score-item{
    color: #fff;
    text-align: center;
}

.dices .score-name{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.dices .score{
    font-size: 40px;
    font-weight: bold;
    width: 75px;
}

.dices .result{
    margin-top: 14px;
    border-radius: 18px;
    background-color: #fff;
    padding: 30px;
    text-align: center;
}

.dices .history-title{
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.dices .history-item{
    border-radius: 14px;
    padding: 11px 14px;
    margin-bottom: 10px;
    background-color: #505a63;
    color: #fff;
}

.dices .history-red{
    background-color: #b25353;
}

.dices .history-green{
    background-color: #42b881;
}

/* alt+shift+a */